@font-face {
    font-family: "Fasthand" ;
    src: url('fonts/Fasthand/Fasthand-Regular.ttf');
   
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


/* 62.5% corresponde a 10px */
html{

    font-size: 62.5%;  
    max-width: 1500px;
    align-items: center;
    margin: auto;
    min-width: 300px;
} 

