/* Google Fonts - Fasthand */
@font-face {
    font-family: 'Dancing Script', cursive;
    src: url('fonts/DancingScript/DancingScript-VariableFont_wght.ttf');
}




* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


/* 62.5% corresponde a 10px */
html{

    font-size: 62.5%;  
    max-width: 1500px;
    align-items: center;
    margin: auto;
    min-width: 300px;
} 

